{% extends "../base.html" %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h2">{{ category.name|title }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">There are currently no products active <a href="{% url 'store:store_home' %}">Home</a></div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="card border-0">
          {% for image_oj in product.product_image.all %}
          {% if image_oj.is_feature %}
          <img class="img-fluid" alt="{{image_oj.alt_text}}" src="{{ image_oj.image.url }}">
          {% endif %}
          {% endfor %}

          <div class="card-body px-0">
            <p class="card-text">
              <a class="text-dark text-decoration-none"
                href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
            </p>
            <div class="fw-bold">£{{product.regular_price}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}